<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--_somee-->
    <add name="lykosConnectionString" connectionString="workstation id=lykosbd.mssql.somee.com;packet size=4096;user id=lykos_SQLLogin_1;pwd=izbo6kdqwi;data source=lykosbd.mssql.somee.com;persist security info=False;initial catalog=lykosbd" />
    <!--LOCAL AT home-->
    <!--<add name="lykosConnectionString" connectionString="Data Source=VIKTOR\VIKTOR;Initial Catalog=lykos;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--LOCAL AT WORK-->
    <!--<add name="lykosConnectionString" connectionString="Data Source=BILL-PC;Initial Catalog=lykos;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime 
      targetFramework="4.5.2"
      executionTimeout="200"
      maxRequestLength="1000000"
      requestLengthDiskThreshold="256"
      useFullyQualifiedRedirectUrl="false"
      minFreeThreads="8"
      minLocalRequestFreeThreads="4"
      appRequestQueueLimit="5000"
      enableKernelOutputCache="true"
      enableVersionHeader="true"
      requireRootedSaveAsPath="true"
      enable="true"
      shutdownTimeout="90"
      delayNotificationTimeout="5"
      waitChangeNotification="0"
      maxWaitChangeNotification="0"
      enableHeaderChecking="true"
      sendCacheControlHeader="true"
      apartmentThreading="false"
      />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="30" protection="All" name="Login">
        <credentials passwordFormat="Clear">
          <user name="vites" password="vites1986" /> 
          <user name="kravchuk" password="kravchuk1985" /> 
          <user name="zharkova" password="zharkova1985" /> 
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>