USE [lykosdb]
GO
/****** Object:  User [vites_SQLLogin_1]    Script Date: 08.02.2018 10:33:19 ******/
CREATE USER [vites_SQLLogin_1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [vites_SQLLogin_1]
GO
/****** Object:  Schema [info]    Script Date: 08.02.2018 10:33:19 ******/
CREATE SCHEMA [info]
GO
/****** Object:  Schema [result]    Script Date: 08.02.2018 10:33:19 ******/
CREATE SCHEMA [result]
GO
/****** Object:  Schema [users]    Script Date: 08.02.2018 10:33:19 ******/
CREATE SCHEMA [users]
GO
/****** Object:  Schema [vites_SQLLogin_1]    Script Date: 08.02.2018 10:33:19 ******/
CREATE SCHEMA [vites_SQLLogin_1]
GO
/****** Object:  Table [dbo].[all_categories]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[all_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_part_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[all_cateries]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[all_cateries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_part_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[change_initiator]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[change_initiator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[change_need_approve]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[change_need_approve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[change_need_submit]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[change_need_submit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[change_strategy]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[change_strategy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[component_type]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[component_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[country_impacted]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country_impacted](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
	[cis] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[form_parts_cateries]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form_parts_cateries](
	[id] [int] NOT NULL,
	[name] [nvarchar](500) NULL,
 CONSTRAINT [PK_form_parts_cateries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[form_status]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[form_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_form_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[manufacturer]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[manufacturer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[marketing_authorithation_holder]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[marketing_authorithation_holder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[packaging_matrials_period]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[packaging_matrials_period](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pharmaceutical_form]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pharmaceutical_form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_code]    Script Date: 08.02.2018 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_code](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
	[country_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[product_name]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_name](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sell_out_period]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sell_out_period](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[strength]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[strength](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[type_of_artwork]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type_of_artwork](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[type_of_change]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type_of_change](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NOT NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[login] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[comment] [nvarchar](500) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[variation_type]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[variation_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[all_cat_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [info].[cis]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [info].[cis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [result].[attachements]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [result].[attachements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[filename] [varchar](255) NULL,
	[data] [varbinary](max) NULL,
	[contenttype] [nvarchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [result].[formComponentTypeRef]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [result].[formComponentTypeRef](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[component_type_id] [int] NULL,
	[attachName] [nvarchar](500) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [result].[formManufacturerRef]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [result].[formManufacturerRef](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[manufacture_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [result].[forms]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [result].[forms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operator_id] [int] NULL,
	[name] [varchar](500) NOT NULL,
	[saved_date] [datetime] NOT NULL,
	[send_date] [datetime] NULL,
	[signed_date] [datetime] NULL,
	[status_id] [int] NULL,
 CONSTRAINT [PK_forms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [result].[forms_info]    Script Date: 08.02.2018 10:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [result].[forms_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[form_id] [int] NULL,
	[product_name] [int] NULL,
	[pharmaceutical_form] [int] NULL,
	[strength] [int] NULL,
	[product_code] [int] NULL,
	[manufacturer] [int] NULL,
	[marketing_authorithation_holder] [int] NULL,
	[country_impacted] [int] NULL,
	[change_initiator] [int] NULL,
	[date_of_request] [date] NULL,
	[type_of_artwork] [int] NULL,
	[type_of_change] [int] NULL,
	[variation_type] [int] NULL,
	[change_need_submit] [int] NULL,
	[change_need_approve] [int] NULL,
	[packaging_matrials_period] [int] NULL,
	[sell_out_period] [int] NULL,
	[comments1] [nvarchar](max) NULL,
	[component_type] [int] NULL,
	[change_strategy] [int] NULL,
	[comments2] [nvarchar](max) NULL,
	[implementation_date] [date] NULL,
	[cis_id] [int] NULL,
	[submission_date] [date] NULL,
	[approve_date] [date] NULL,
	[packaging_matrials_dedline] [date] NULL,
	[sell_out_dedline] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[all_categories] ON 

INSERT [dbo].[all_categories] ([id], [form_part_cat_id], [name]) VALUES (1, 1, N'Product Name')
INSERT [dbo].[all_categories] ([id], [form_part_cat_id], [name]) VALUES (2, 1, N'Pharmaceutical form')
INSERT [dbo].[all_categories] ([id], [form_part_cat_id], [name]) VALUES (3, 1, N'Strength')
SET IDENTITY_INSERT [dbo].[all_categories] OFF
SET IDENTITY_INSERT [dbo].[all_cateries] ON 

INSERT [dbo].[all_cateries] ([id], [form_part_cat_id], [name]) VALUES (1, 1, N'Product Name')
INSERT [dbo].[all_cateries] ([id], [form_part_cat_id], [name]) VALUES (2, 1, N'Pharmaceutical form')
INSERT [dbo].[all_cateries] ([id], [form_part_cat_id], [name]) VALUES (3, 1, N'Strength')
SET IDENTITY_INSERT [dbo].[all_cateries] OFF
SET IDENTITY_INSERT [dbo].[change_initiator] ON 

INSERT [dbo].[change_initiator] ([id], [all_cat_id], [name]) VALUES (1, 8, N'Olga Kravchuk')
INSERT [dbo].[change_initiator] ([id], [all_cat_id], [name]) VALUES (2, 8, N'Maria Zharkova')
INSERT [dbo].[change_initiator] ([id], [all_cat_id], [name]) VALUES (3, 8, N'Zulfia Mamedova')
SET IDENTITY_INSERT [dbo].[change_initiator] OFF
SET IDENTITY_INSERT [dbo].[change_need_approve] ON 

INSERT [dbo].[change_need_approve] ([id], [all_cat_id], [name]) VALUES (1, 15, N'Approval date')
INSERT [dbo].[change_need_approve] ([id], [all_cat_id], [name]) VALUES (2, 15, N'Expected Approval date')
SET IDENTITY_INSERT [dbo].[change_need_approve] OFF
SET IDENTITY_INSERT [dbo].[change_need_submit] ON 

INSERT [dbo].[change_need_submit] ([id], [all_cat_id], [name]) VALUES (1, 14, N'submission date')
INSERT [dbo].[change_need_submit] ([id], [all_cat_id], [name]) VALUES (2, 14, N'planned submission date')
SET IDENTITY_INSERT [dbo].[change_need_submit] OFF
SET IDENTITY_INSERT [dbo].[change_strategy] ON 

INSERT [dbo].[change_strategy] ([id], [all_cat_id], [name]) VALUES (1, 20, N'depend on section 2')
SET IDENTITY_INSERT [dbo].[change_strategy] OFF
SET IDENTITY_INSERT [dbo].[component_type] ON 

INSERT [dbo].[component_type] ([id], [all_cat_id], [name]) VALUES (1, 19, N'leaflet')
INSERT [dbo].[component_type] ([id], [all_cat_id], [name]) VALUES (2, 19, N'carton')
INSERT [dbo].[component_type] ([id], [all_cat_id], [name]) VALUES (3, 19, N'blister')
SET IDENTITY_INSERT [dbo].[component_type] OFF
SET IDENTITY_INSERT [dbo].[country_impacted] ON 

INSERT [dbo].[country_impacted] ([id], [all_cat_id], [name], [cis]) VALUES (1, 7, N'Azerbaijan', 1)
INSERT [dbo].[country_impacted] ([id], [all_cat_id], [name], [cis]) VALUES (2, 7, N'Armenia', 1)
INSERT [dbo].[country_impacted] ([id], [all_cat_id], [name], [cis]) VALUES (3, 7, N'Georgia', 1)
SET IDENTITY_INSERT [dbo].[country_impacted] OFF
INSERT [dbo].[form_parts_cateries] ([id], [name]) VALUES (1, N'Change request information')
INSERT [dbo].[form_parts_cateries] ([id], [name]) VALUES (2, N'Description of the change')
INSERT [dbo].[form_parts_cateries] ([id], [name]) VALUES (3, N'Packaging component(s)s to be change')
SET IDENTITY_INSERT [dbo].[form_status] ON 

INSERT [dbo].[form_status] ([id], [category_name]) VALUES (1, N'edit')
INSERT [dbo].[form_status] ([id], [category_name]) VALUES (2, N'saved')
INSERT [dbo].[form_status] ([id], [category_name]) VALUES (3, N'send_tosign')
SET IDENTITY_INSERT [dbo].[form_status] OFF
SET IDENTITY_INSERT [dbo].[manufacturer] ON 

INSERT [dbo].[manufacturer] ([id], [all_cat_id], [name]) VALUES (1, 5, N'OSO Biopharmaceuticals Manufacturing, LLC”, USA')
INSERT [dbo].[manufacturer] ([id], [all_cat_id], [name]) VALUES (2, 5, N'Pierre Fabre Medicament Production, Aquitaine Pharm International”, France')
INSERT [dbo].[manufacturer] ([id], [all_cat_id], [name]) VALUES (3, 5, N'Helsinn Birex Pharmaceuticals Ltd., Ireland')
SET IDENTITY_INSERT [dbo].[manufacturer] OFF
SET IDENTITY_INSERT [dbo].[marketing_authorithation_holder] ON 

INSERT [dbo].[marketing_authorithation_holder] ([id], [all_cat_id], [name]) VALUES (1, 6, N'Helsinn Birex Pharmaceuticals Ltd., Ireland')
INSERT [dbo].[marketing_authorithation_holder] ([id], [all_cat_id], [name]) VALUES (2, 6, N'Italfarmaco S.p.A., Italy,')
INSERT [dbo].[marketing_authorithation_holder] ([id], [all_cat_id], [name]) VALUES (3, 6, N'Aziende Chimiche Riunite Angelini Francesco A.C.R.A.F. S.p.A., Italy')
SET IDENTITY_INSERT [dbo].[marketing_authorithation_holder] OFF
SET IDENTITY_INSERT [dbo].[packaging_matrials_period] ON 

INSERT [dbo].[packaging_matrials_period] ([id], [all_cat_id], [name]) VALUES (1, 16, N'until expiery day')
INSERT [dbo].[packaging_matrials_period] ([id], [all_cat_id], [name]) VALUES (2, 16, N'define deadline')
SET IDENTITY_INSERT [dbo].[packaging_matrials_period] OFF
SET IDENTITY_INSERT [dbo].[pharmaceutical_form] ON 

INSERT [dbo].[pharmaceutical_form] ([id], [all_cat_id], [name]) VALUES (1, 2, N'solution for injection')
INSERT [dbo].[pharmaceutical_form] ([id], [all_cat_id], [name]) VALUES (2, 2, N'vaginal cream')
INSERT [dbo].[pharmaceutical_form] ([id], [all_cat_id], [name]) VALUES (3, 2, N'powder for solution')
SET IDENTITY_INSERT [dbo].[pharmaceutical_form] OFF
SET IDENTITY_INSERT [dbo].[product_code] ON 

INSERT [dbo].[product_code] ([id], [all_cat_id], [name], [country_id]) VALUES (3, 4, N'129074UA', 8)
INSERT [dbo].[product_code] ([id], [all_cat_id], [name], [country_id]) VALUES (4, 4, N'129463UA', 8)
INSERT [dbo].[product_code] ([id], [all_cat_id], [name], [country_id]) VALUES (5, 4, N'129464UA', 8)
SET IDENTITY_INSERT [dbo].[product_code] OFF
SET IDENTITY_INSERT [dbo].[product_name] ON 

INSERT [dbo].[product_name] ([id], [all_cat_id], [name]) VALUES (1, 1, N'Aloxi')
INSERT [dbo].[product_name] ([id], [all_cat_id], [name]) VALUES (2, 1, N'Artrosilene')
INSERT [dbo].[product_name] ([id], [all_cat_id], [name]) VALUES (3, 1, N'Dafnegin')
SET IDENTITY_INSERT [dbo].[product_name] OFF
SET IDENTITY_INSERT [dbo].[sell_out_period] ON 

INSERT [dbo].[sell_out_period] ([id], [all_cat_id], [name]) VALUES (1, 17, N'until expiry date')
INSERT [dbo].[sell_out_period] ([id], [all_cat_id], [name]) VALUES (2, 17, N'until next import cycle')
INSERT [dbo].[sell_out_period] ([id], [all_cat_id], [name]) VALUES (3, 17, N'define deadline')
SET IDENTITY_INSERT [dbo].[sell_out_period] OFF
SET IDENTITY_INSERT [dbo].[strength] ON 

INSERT [dbo].[strength] ([id], [all_cat_id], [name]) VALUES (1, 3, N'15%')
INSERT [dbo].[strength] ([id], [all_cat_id], [name]) VALUES (2, 3, N'320 mg')
INSERT [dbo].[strength] ([id], [all_cat_id], [name]) VALUES (3, 3, N'5%')
SET IDENTITY_INSERT [dbo].[strength] OFF
SET IDENTITY_INSERT [dbo].[type_of_artwork] ON 

INSERT [dbo].[type_of_artwork] ([id], [all_cat_id], [name]) VALUES (1, 11, N'Artwork for submission to Authority')
INSERT [dbo].[type_of_artwork] ([id], [all_cat_id], [name]) VALUES (2, 11, N'Artwork for production')
SET IDENTITY_INSERT [dbo].[type_of_artwork] OFF
SET IDENTITY_INSERT [dbo].[type_of_change] ON 

INSERT [dbo].[type_of_change] ([id], [all_cat_id], [name]) VALUES (1, 12, N'Authority')
INSERT [dbo].[type_of_change] ([id], [all_cat_id], [name]) VALUES (2, 12, N'Manufacturing')
INSERT [dbo].[type_of_change] ([id], [all_cat_id], [name]) VALUES (3, 12, N'Regulatory Affairs')
SET IDENTITY_INSERT [dbo].[type_of_change] OFF
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([id], [name]) VALUES (1, N'developer')
INSERT [dbo].[user_role] ([id], [name]) VALUES (2, N'head')
INSERT [dbo].[user_role] ([id], [name]) VALUES (3, N'manager')
SET IDENTITY_INSERT [dbo].[user_role] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([login], [fullName], [comment], [id], [user_role_id]) VALUES (N'kravchuk', N'Кравчук Ольга', N'Head of Regulatory Affairs Russia, Ukraine and CIS Countries', 1, 2)
INSERT [dbo].[users] ([login], [fullName], [comment], [id], [user_role_id]) VALUES (N'vites', N'Дубровін Віктор', N'Programm Developer', 2, 1)
INSERT [dbo].[users] ([login], [fullName], [comment], [id], [user_role_id]) VALUES (N'zharkova', N'Марія Жаркова', N'Manager', 3, 3)
SET IDENTITY_INSERT [dbo].[users] OFF
SET IDENTITY_INSERT [dbo].[variation_type] ON 

INSERT [dbo].[variation_type] ([id], [all_cat_id], [name]) VALUES (1, 13, N'New registration')
INSERT [dbo].[variation_type] ([id], [all_cat_id], [name]) VALUES (2, 13, N'Renewal')
INSERT [dbo].[variation_type] ([id], [all_cat_id], [name]) VALUES (3, 13, N'Variation ')
SET IDENTITY_INSERT [dbo].[variation_type] OFF
SET IDENTITY_INSERT [info].[cis] ON 

INSERT [info].[cis] ([id], [name]) VALUES (1, N'CIS')
INSERT [info].[cis] ([id], [name]) VALUES (2, N'CIS2')
INSERT [info].[cis] ([id], [name]) VALUES (3, N'Other')
SET IDENTITY_INSERT [info].[cis] OFF
SET IDENTITY_INSERT [result].[attachements] ON 

SET IDENTITY_INSERT [result].[attachements] OFF
SET IDENTITY_INSERT [result].[formComponentTypeRef] ON 

INSERT [result].[formComponentTypeRef] ([id], [form_id], [component_type_id], [attachName]) VALUES (1, 12, 1, N'1.png')
INSERT [result].[formComponentTypeRef] ([id], [form_id], [component_type_id], [attachName]) VALUES (2, 12, 2, N'2.jpg')
INSERT [result].[formComponentTypeRef] ([id], [form_id], [component_type_id], [attachName]) VALUES (3, 12, 3, N'')
SET IDENTITY_INSERT [result].[formComponentTypeRef] OFF
SET IDENTITY_INSERT [result].[formManufacturerRef] ON 

INSERT [result].[formManufacturerRef] ([id], [form_id], [manufacture_id]) VALUES (16, 12, 1)
INSERT [result].[formManufacturerRef] ([id], [form_id], [manufacture_id]) VALUES (17, 12, 3)
INSERT [result].[formManufacturerRef] ([id], [form_id], [manufacture_id]) VALUES (18, 12, 4)
SET IDENTITY_INSERT [result].[formManufacturerRef] OFF
SET IDENTITY_INSERT [result].[forms] ON 

INSERT [result].[forms] ([id], [operator_id], [name], [saved_date], [send_date], [signed_date], [status_id]) VALUES (12, 2, N'Form Name Test', CAST(N'2017-07-20T10:42:18.760' AS DateTime), NULL, NULL, 2)
SET IDENTITY_INSERT [result].[forms] OFF
SET IDENTITY_INSERT [result].[forms_info] ON 

SET IDENTITY_INSERT [result].[forms_info] OFF
ALTER TABLE [dbo].[all_categories]  WITH CHECK ADD FOREIGN KEY([form_part_cat_id])
REFERENCES [dbo].[form_parts_cateries] ([id])
GO
ALTER TABLE [dbo].[all_cateries]  WITH CHECK ADD FOREIGN KEY([form_part_cat_id])
REFERENCES [dbo].[form_parts_cateries] ([id])
GO
ALTER TABLE [dbo].[change_initiator]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[change_initiator]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[change_need_approve]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[change_need_approve]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[change_need_submit]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[change_need_submit]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[change_strategy]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[change_strategy]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[component_type]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[component_type]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[country_impacted]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[country_impacted]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[manufacturer]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[manufacturer]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[marketing_authorithation_holder]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[marketing_authorithation_holder]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[packaging_matrials_period]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[packaging_matrials_period]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[pharmaceutical_form]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[pharmaceutical_form]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[product_code]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[product_code]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[product_code]  WITH CHECK ADD FOREIGN KEY([country_id])
REFERENCES [dbo].[country_impacted] ([id])
GO
ALTER TABLE [dbo].[product_name]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[product_name]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[sell_out_period]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[sell_out_period]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[strength]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[strength]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[type_of_artwork]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[type_of_artwork]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[type_of_change]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[type_of_change]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [dbo].[variation_type]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_cateries] ([id])
GO
ALTER TABLE [dbo].[variation_type]  WITH CHECK ADD FOREIGN KEY([all_cat_id])
REFERENCES [dbo].[all_categories] ([id])
GO
ALTER TABLE [result].[attachements]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [result].[forms] ([id])
GO
ALTER TABLE [result].[formComponentTypeRef]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [result].[forms] ([id])
GO
ALTER TABLE [result].[formManufacturerRef]  WITH CHECK ADD FOREIGN KEY([form_id])
REFERENCES [result].[forms] ([id])
GO
ALTER TABLE [result].[formManufacturerRef]  WITH CHECK ADD FOREIGN KEY([manufacture_id])
REFERENCES [dbo].[manufacturer] ([id])
GO
/****** Object:  StoredProcedure [dbo].[fillGridView_forms]    Script Date: 08.02.2018 10:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fillGridView_forms] 
	@operator_id NVARCHAR(30),
	@operator_role NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;

	IF (@operator_role LIKE 'manager')
	     BEGIN
	        SELECT  
	        sts.category_name as [status], 
	        frms.id as id, 
	        usrs.fullName, 
	        usrs.comment, 
	        frms.[operator_id], 
            frms.[name], 
	        frms.[saved_date], 
	        frms.[send_date], 
	        frms.[signed_date] 
	        		FROM [result].[forms] as frms
                    LEFT OUTER JOIN dbo.users as usrs 
                    on frms.[operator_id] = usrs.id
                    LEFT OUTER JOIN dbo.[form_status] as sts 
                    on frms.[status_id] = sts.id 
	        		WHERE frms.operator_id LIKE @operator_id 
	        		ORDER BY frms.[id] DESC
        END
	ELSE
	    BEGIN
		    SELECT  
	            sts.category_name as [status], 
	            frms.id as id, 
	            usrs.fullName, 
	            usrs.comment, 
	            frms.[operator_id], 
                frms.[name], 
	            frms.[saved_date], 
	            frms.[send_date], 
	            frms.[signed_date] 
	            		FROM [result].[forms] as frms
                        LEFT OUTER JOIN dbo.users as usrs 
                        on frms.[operator_id] = usrs.id
                        LEFT OUTER JOIN dbo.[form_status] as sts 
                        on frms.[status_id] = sts.id 	            		
	            		ORDER BY frms.[id] DESC

		END
END

GO
